*, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-container
{
    max-width: 1180px;
    margin: 0 auto;
}
.inner-container
{
    max-width: 960px;
    margin: 0 auto;

}
.main-container .banner
{
    background: url("images/banner_03.png") no-repeat;
    background-size: cover;
    height:455px;
    position: relative;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner
    {
        height: 900px;
    }
}
.main-container .header-top 
{
    margin-bottom: 28px;
}
.main-container .header-top .inner-container
{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
     padding-top: 52px;
     
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .header-top .inner-container
{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
     padding-top: 52px; 
  }
} 
@media (min-width:320px) and (max-width:767px)
{
    .main-container .header-top .inner-container .logo
    {
        text-align: center;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .header-top .inner-container .logo img{
     width: 310px
    }

}
.main-container .header-top .inner-container .sec-logo
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-self: end;
     grid-gap: 17px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .header-top .inner-container .sec-logo
    {
        justify-self: center;
    }
}
.main-container .header-top .inner-container .sec-logo  .heading h1{
    color: red;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.main-container .header-top .inner-container .sec-logo .heading h2{
    color:#666666;
    font-size: 25px;
    font-weight: normal;
}
.main-container .header-top .inner-container .sec-logo .phone-icons
{
    align-self: center;
}
.main-container .header-top .inner-container .sec-logo .phone-icons a:hover{
    opacity: 0.7;
}
.main-container .banner header{
    /* background: url("images/header-img.png"); */
    background:#e2e4e4;
    height: 60px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner header .menu ul
    {
        display: none;
    }
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner header .inner-container .menu .bars-icons
    {
        text-align: right;
       padding-right: 20px;
        font-size: 20px;
    }
}
.main-container .banner header .inner-container .menu i
{
    display: none;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner header .inner-container .menu i
{
    display: block;
    line-height: 60px;
    }
}
.main-container .banner header .inner-container .menu ul
{
    padding-left: 0px;
}
.main-container .banner header .inner-container .menu ul li{
    display: inline-block;
    text-align: left;
    line-height: 60px;
    margin-right: 31px;
}
.main-container .banner header .inner-container .menu ul li a{
    text-decoration: none;
    color: #2b2c2d;
    font-size: 20px;
}
.main-container .banner header .inner-container .menu ul li:last-child
{
    margin-right: 0px;
}
.main-container .banner header .inner-container .menu ul li a:hover{
    color:#9f1d21; 
}
.main-container .banner header .inner-container .menu ul li .active{
    color:#9f1d21;
}
.main-container .banner .banner-service .left-arrow
{
    position: absolute;
    bottom: 101px;
    left: 40px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .banner-service .left-arrow
{
    display: none;
}
}
.main-container .banner .banner-service .right-arrow
{
    position: absolute;
    bottom: 101px;
    right: 40px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .banner .banner-service .right-arrow
{
    display: none;
}
}
.main-container .banner .banner-service .inner-container
{
    position: relative;
}
.main-container .banner .banner-service .inner-container .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 160px;
    z-index: 1;
}

.main-container .banner .banner-service .inner-container  .boxes .single-box
{
  background: rgba(10, 6, 2, 0.7);
  color: white;
  /* padding-top: 33px; */
  /* padding-left: 40px;
  padding-right: 40px; */

}.main-container .banner .banner-service .inner-container  .boxes .single-box:hover
{
  background: rgba(10, 6, 2, 0.7);
  color: white;
  position: relative;
  top: -37px;
  
}
.main-container .banner .banner-service .inner-container  .boxes  .single-box .paragraph-1
{
    padding: 40px 40px 0px 40px;
}
.main-container .banner .banner-service .inner-container  .boxes  .single-box .paragraph-1 h1
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
   
}
.main-container .banner .banner-service .inner-container  .boxes  .single-box .paragraph-1  p{
    font-size: 16px;
    margin-bottom: 38px;
}
.main-container .banner .banner-service .inner-container  .boxes .single-box button
{
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 1fr; 
    align-items: center;
    color: white;
    font-size: 16px;
    justify-items: start;
    grid-gap: 19px;
    cursor: pointer;
    text-transform: uppercase;
    width: 320px;
    height: 54px;
    background: #9d1b1f;
    border: none;
    outline: none;   
    /* transition: all 5s ease-in-out .s; */
    /* position: absolute;
    bottom: 0px; */
}
.main-container .banner .banner-service .inner-container  .boxes .single-box button img{
    justify-self: right;
}

.main-container .middle-container
{
  background: url('images/middle-pic_07.jpg') no-repeat;
    background-size: cover;
    height: 561px;
    position: relative;
    z-index: 2;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container
{
  background: url('images/middle-pic_07.jpg') no-repeat;
    background-size: cover;
    height: auto;
}
}
.main-container .middle-container .inner-container .paragraph
{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    color: white;
    padding-top: 43px;
    grid-gap: 27px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .inner-container .paragraph
    {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    }
}
.main-container .middle-container .inner-container .paragraph .first-paragraph h1{
    font-size: 40px;
    color: #b52e32;
    font-weight: bold;
    margin-bottom: 34px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .middle-container .inner-container .paragraph .first-paragraph h1
    {
        font-size: 30px;
    }

}
.main-container .middle-container .inner-container .paragraph .first-paragraph h1 span{
    color: white;
}
.main-container .middle-container .inner-container .paragraph .first-paragraph .p-1
{
    color: #8d8d8d;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    margin-bottom: 28px;
}
.main-container .middle-container .inner-container .paragraph .first-paragraph .p-2
{
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 30px;
    line-height: 25px;
}
.main-container .middle-container .inner-container .paragraph .first-paragraph .p-3
{
    font-size: 16px;
    color: #cccccc;
    line-height: 25px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph
{
    align-self: end;
   
}
.main-container .middle-container .inner-container .paragraph .second-paragraph h1
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-1
{
 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
 grid-gap: 19px;
 margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-1 a{
            color: #ee343a;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
           
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-2
{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            grid-gap: 19px;
            margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-2 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-3
{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 19px;
        margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-3 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-4
{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 19px;
        margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-4 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
font-size: 16px;
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-5
{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 19px;
        margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-5 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-6
{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 19px;
        margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-6 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-7
{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 19px;
        margin-bottom: 9px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-7 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-8
{
        display: grid;
        grid-template-columns: auto 1fr;
        /* align-items: center; */
        grid-gap: 19px;
        margin-bottom: 25px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-8 a{
    color: #ee343a;
    text-decoration: none;
    font-weight: bold;
font-size: 16px;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph .icons-8 img{
    padding-top: 7px;
}
    .main-container .middle-container .inner-container .paragraph .second-paragraph button  
{
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-rows: 1fr; 
    align-items: center;
    color: white;
    font-size: 16px;
    justify-items: start;
    grid-gap: 17px;
    cursor: pointer;
    text-transform: uppercase;
    width: 310px;
    height: 54px;
    background: #9d1b1f;
    border: none;
    outline: none;
}
.main-container .middle-container .inner-container .paragraph .second-paragraph button  img{
    justify-self: right;
}
.main-container .footer-contact
{
    /* background: url("images/footer-contact.png") no-repeat; */
    /* background-size: cover; */
    background: #6d7172;
    height: 331px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .footer-contact
    {
        height: auto;
       padding-left: 10px;
       padding-right: 10px;
    }
}
.main-container .footer-contact .inner-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 55px;
    padding-top: 50px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .footer-contact .inner-container
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.main-container .footer-contact .inner-container .third-paragraph h1
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.main-container .footer-contact .inner-container .third-paragraph span{
    color: #890e12;
    font-size: 20px;
    font-weight: bold;
}
.main-container .footer-contact .inner-container .third-paragraph .p-4
{
    color: #cccccc;
    font-size: 16px;
    margin-bottom: 15px;
}
.main-container .footer-contact .inner-container .third-paragraph .p-5
{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}
.main-container .footer-contact .inner-container .third-paragraph .p-6
{
    font-size: 16px;
    color: #cccccc;
}
.main-container .footer-contact .inner-container .email-form form .form-group-1
{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    height: 35px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .footer-contact .inner-container .email-form form .form-group-1
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    height: auto;
}
}
.main-container .footer-contact .inner-container .email-form form .form-group-1 input
{
    border-radius: 4px;
    padding-left: 18px;
    padding-right: 18px;
    font-style: italic;
    background: #eaeaea;
    border: none;
    line-height: 35px;
    outline: none;
}
.main-container .footer-contact .inner-container .email-form form .form-group-2
{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    height: 35px;
}
.main-container .footer-contact .inner-container .email-form form .form-group-2 input
{
    border-radius: 4px;
    padding-left: 18px;
    padding-right: 18px;
    font-style: italic;
    background: #eaeaea;
    border: none;
    line-height: 35px;
    outline: none;
}

.main-container .footer-contact .inner-container .email-form form .form-group-3
{
    display: grid;
    grid-template-columns: 1fr;
}
.main-container .footer-contact .inner-container .email-form form .form-group-3 textarea
{
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 17px;
    padding-right: 17px;
    font-style: italic;
    background: #eaeaea;
    border: none;
    height: 65px;
    outline: none;
}
.main-container .footer-contact .inner-container .email-form .submit-box
{
    display: grid;
    grid-template-columns: 361px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 66px;
    font-size: 12px;
    color: #cccccc;
    text-align: right;
    align-items: center;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .footer-contact .inner-container .email-form .submit-box
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 66px;
    font-size: 12px;
    color: #cccccc;
    text-align: justify;
    align-items: center;
}
}
.main-container .footer-contact .inner-container .email-form .submit-box button
{
    width: 180px;
    height: 54px;
    background:#9a191d;
    border: none;
    background-image: linear-gradient(to right ,#9f1d21, #8a0e12);
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 1fr;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    outline: none;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .footer-contact .inner-container .email-form .submit-box button
    {
        justify-self: center;
    }
}
.main-container .footer-contact .inner-container .email-form .submit-box button img{
    justify-self: end;
}
.main-container .footer-contact .inner-container .email-form form{
    margin-bottom: 20px;
}
.main-container .final-footer .inner-container
{
    display: grid;
    grid-template-columns:364px 284px 1fr;
    grid-template-rows: 1fr;
    height: 120px;
    grid-gap: 9px;
    /* line-height: 120px; */
    align-items: center;
 
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .final-footer .inner-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120px;
    grid-gap: 9px;
    padding: 10px;
    align-items: center;
 
}
}
.main-container .final-footer .inner-container .footer-text  p
{
    color: #b0b0b0;
    font-size: 12px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .final-footer .inner-container .footer-text  p
{
    color: #b0b0b0;
    font-size: 12px;
    justify-self: center;
}
}
.main-container .final-footer .inner-container .footer-logo
{
    justify-self: end;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .final-footer .inner-container .footer-logo
{
    justify-self: center;
}
}
/* @media (min-width:320px) and (max-width:767px)
{

} */
.main-container .final-footer .inner-container .footer-menu ul li{
    display: inline-block;
    text-align: left;
    line-height: 120px;
    margin-right: 3px;
}
@media (min-width:320px) and (max-width:767px)
{
    .main-container .final-footer .inner-container .footer-menu ul li{
        display: inline-block;
        line-height: 0px;
        margin-right: 3px;
    }
}
.main-container .final-footer .inner-container .footer-menu ul li a{
    text-decoration: none;
    color: #2b2c2d;
    font-size: 14px;
}
.main-container .final-footer .inner-container .footer-menu ul li a:hover{
    color:#9f1d21; 
}
.main-container .final-footer .inner-container .footer-menu ul li .active{
    color:#9f1d21;
}
.main-container .final-footer .inner-container .footer-menu ul li:last-child
{
    margin-right: 0px;
}